.content{
    width:100%;
    overflow-x:auto;
}
.echarts{
    width:100%;
    display: flex;
    background-color: #fff;
    border:1px solid #f2f2f2;
}
.fb{
    display: flex;
    justify-content: space-between;
}
